<div class="background-container">
<div class="meeting-list">
  <h2 appMyDirective >Meeting List</h2>
  <button mat-icon-button color="primary" (click)="navigateToAddMeeting()">
    <mat-icon>add</mat-icon>
  </button>
  <table mat-table [dataSource]="MeetingList" class="mat-elevation-z8">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th  mat-header-cell *matHeaderCellDef> Id </th>
      <td  mat-cell *matCellDef="let meeting"> {{meeting.id}} </td>
    </ng-container>

   

    <!-- Case Number Column -->
    <ng-container matColumnDef="meetingDate">
      <th appMyDirective mat-header-cell *matHeaderCellDef>Meeting Date </th>
      <td mat-cell *matCellDef="let meeting"> {{meeting.meetingDate | meetingDate}} </td>
    </ng-container>

     <!-- Case Number Column -->
     <ng-container matColumnDef="meetingHour">
      <th mat-header-cell *matHeaderCellDef>Meeting Hour</th>
      <td mat-cell *matCellDef="let meeting"> {{meeting.meetingHour}} </td>
    </ng-container>

     <!-- Name Column -->
     <ng-container matColumnDef="meetingDuration">
      <th mat-header-cell *matHeaderCellDef>meeting Duration </th>
      <td mat-cell *matCellDef="let meeting"> {{meeting.meetingDuration}} </td>
    </ng-container>

     <!-- Name Column -->
     <ng-container matColumnDef="cpaId">
      <th mat-header-cell *matHeaderCellDef>cpa Id </th>
      <td mat-cell *matCellDef="let meeting"> {{meeting.cpaId}} </td>
    </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="customerId">
        <th mat-header-cell *matHeaderCellDef>customer Id</th>
        <td mat-cell *matCellDef="let meeting"> {{meeting.customerId}} </td>
      </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let meeting">

        <button  mat-icon-button color="primary" (click)="editMeeting(meeting.id)">
          <mat-icon >edit</mat-icon>
        </button>
          <button mat-icon-button color="warn" (click)="deleteMeeting(meeting.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
</div>
